<div class="card bg-light" *ngIf="lista.length===0" >
    <div class="card-body">
        <h5 class="card-title text-center">No hay citas para mostrar</h5>
    </div>
</div>

<div *ngFor="let item of lista;let i=index" class="resultado">

    <div>
    <p>Nombre:<span>{{item.nombre}} </span></p>
    <p>Fecha: <span> {{item.fecha}}</span></p>
    <p>Hora: <span> {{item.hora}}</span></p>
    <p>Sintomas:  <span> {{item.sintomas}}</span></p>
</div>
    <button (click)="eliminar(i)" class="btn btn-danger">Eliminar</button>
</div>