.resultado{

    width: 500px;
    height: 250px;
    background-color: aliceblue;
    margin-left: 120px;
    margin-top: 30px;
}
.resultado div{
    padding-top:1px;
    margin-left: 15px;
}
p{ 
   margin-top: 20px;
   font-weight: bold;
}
button{
    width: 95%;
    margin-left: 10px;
}
.card{
    margin-left: 120px;
    margin-top: 28px;
    width: 400px;
    height: 200px;
   padding-top: 60px;
   
}

.card h5 {
 font-weight: bold; 
}