<div class="container">
    <h3 class="">Add Appointment</h3>
    
    <form >

        <label>Name</label>
        <div class="labels">
   <input [(ngModel)]="nombre" name="input1" placeholder="Enter your name">
 
</div>
<label>Date</label>
<div class="labels">

<input [(ngModel)]="fecha"  name="input2" type="date">
</div>
<label>Hour</label>
<div class="labels">

<input [(ngModel)]="hora"  name="input3" type="time">
</div>
<label>Symptom</label>
<div class="labels">

<textarea [(ngModel)]="sintomas"  name="input4" placeholder="Enter symptoms"></textarea>
</div>
<button (click)="mostrar()" type="submit" class="btn btn-primary">Add appointment</button>
    </form>
</div>
